::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

/* --------------------------- PreLoader --------------------------- */

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 99999;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 49vh !important;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(255, 255, 255);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* --------------------------- PreLoader --------------------------- */

.heroRight {
  text-align: center !important;
}

@media only screen and (min-width: 1200px) {
  .heroRight {
    text-align: right !important;
    padding-right: 10vw !important;
    margin-bottom: 20px;
  }
}

/* --------------------------- Footer --------------------------- */

@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

/* --------------------------- Home Page --------------------------- */

.hero-container {
  margin-bottom: 20px;
  margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
  .hero-container {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .headshot {
    padding: 30px !important;
  }
}

.footerLinks {
  border-radius: 30px;
  margin: auto;
  text-align: center;
}

/* --------------------------- Experience Page --------------------------- */

.exp {
  transform: skewY(-4deg);
}

.ex {
  transform: skewY(4deg) !important;
}

.exp1 {
  background-image: linear-gradient(to bottom right, #2ae1ff, #005a7a);
  transform: skewY(-4deg);
}

.exp2 {
  background-image: linear-gradient(to bottom right, #4eff5b, #007c08);
  transform: skewY(-4deg);
}

.exp3 {
  background-image: linear-gradient(to bottom right, #2549ff, #202a5d);
  transform: skewY(-4deg);
}

.exp4 {
  background-image: linear-gradient(to bottom right, #2446ff, #2c3878);
  transform: skewY(-4deg);
}

.exp5 {
  background-image: linear-gradient(to bottom right, #006199, #38b6ff);
  transform: skewY(-4deg);
}

.exp6 {
  background-image: linear-gradient(to bottom right, #004047, #2295a1);
  transform: skewY(-4deg);
}

.exp7 {
  background-image: linear-gradient(to bottom right, #fd8d36, #f9c45f);
  transform: skewY(-4deg);
}

.exp8 {
  background-image: linear-gradient(to bottom right, #006ba7, #081a24);
  transform: skewY(-4deg);
}

.exp9 {
  background-image: linear-gradient(to bottom right, #00522a, #02a556);
  transform: skewY(-4deg);
}

.exp10 {
  background-image: linear-gradient(to bottom right, #007b9d, #45dde3);
  transform: skewY(-4deg);
}

.exp11 {
  background-image: linear-gradient(to bottom right, #3d18ff, #0e0057);
  transform: skewY(-4deg);
}

.exp12 {
  background-image: linear-gradient(to bottom right, #2c2c2c, #404041);
  transform: skewY(-4deg);
}

.exp13 {
  background-image: linear-gradient(to bottom right, #003b72, #027ef2);
  transform: skewY(-4deg);
}

.exp14 {
  background-image: linear-gradient(to bottom right, #b43a00, #fd5709);
  transform: skewY(-4deg);
}

.exp15 {
  background-image: linear-gradient(to bottom right, #0e0a2c, #1400ad);
  transform: skewY(-4deg);
}

.exp16 {
  background-image: linear-gradient(to bottom right, #a02200, #eb5830);
  transform: skewY(-4deg);
}

.exp17 {
  background-image: linear-gradient(to bottom right, #00773c, #2c3430);
  transform: skewY(-4deg);
}

.exp18 {
  background-image: linear-gradient(to bottom right, #002641, #015796);
  transform: skewY(-4deg);
}

.exp19 {
  background-image: linear-gradient(to bottom right, #2f5cff, #0027b3);
  transform: skewY(-4deg);
}

.exp20 {
  background-image: linear-gradient(to bottom right, #004f63, #009cc4);
  transform: skewY(-4deg);
}

.exp21 {
  background-image: linear-gradient(to bottom right, #5f0019, #dd3c66);
  transform: skewY(-4deg);
}

.exp22 {
  background-image: linear-gradient(to bottom right, rgb(51, 0, 14), #bf1522);
  transform: skewY(-4deg);
}

.exp23 {
  background-image: linear-gradient(to bottom right, #9c7000, #e7b12d);
  transform: skewY(-4deg);
}

.exp24 {
  background-image: linear-gradient(to bottom right, #003558, #0a64a1);
  transform: skewY(-4deg);
}

.exp25 {
  background-image: linear-gradient(to bottom right, #1b1b1b, #3b3b3b);
  transform: skewY(-4deg);
}

.exp26 {
  background-image: linear-gradient(to bottom right, #4901bd, #7354a5);
  transform: skewY(-4deg);
}

.exp27 {
  background-image: linear-gradient(to bottom right, #a36700, #ffa914);
  transform: skewY(-4deg);
}

.exp28 {
  background-image: linear-gradient(to bottom right, #005c34, #27ab71);
  transform: skewY(-4deg);
}

.exp29 {
  background-image: linear-gradient(to bottom right, #41004b, #7b3e85);
  transform: skewY(-4deg);
}

.exp30 {
  background-image: linear-gradient(to bottom right, #a81c00, #682012);
  transform: skewY(-4deg);
}

.exp31 {
  background-image: linear-gradient(to bottom right, #8a3c00, #f19146);
  transform: skewY(-4deg);
}

.exp32 {
  background-image: linear-gradient(to bottom right, #00415f, #088bc9);
  transform: skewY(-4deg);
}

/* --------------------------- Certifications Page --------------------------- */

.gradientText {
  text-transform: uppercase;
  background: linear-gradient(to right, #00c4cc 0%, #7c2ae8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .cert {
    background-image: url(../../assets/img/BW2.png) !important;
  }
}


/* --------------------------- Projects Page --------------------------- */

.projectDiv {
  min-height: 100vh;
  padding: 5vw;
}

.projectDivDiv {
  margin: auto;
  width: 86vw;
  min-height: 90vh;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .projectDiv {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

@media only screen and (max-width: 1200px) {
  .projectDivDiv {
    padding-top: 2vh;
    padding-bottom: 10vh;
  }
}

.projectImages {
  text-align: center !important;
  padding: 5vw;
}

.projectImage1 {
  width: 350px;
}

.projectImage2 {
  margin-left: -100px;
  width: 350px;
}

.projectImage3 {
  margin-left: -100px;
  width: 350px;
}

.projectImage4 {
  margin-left: -100px;
  width: 350px;
}

@media only screen and (max-width: 1200px) {
  .projectImage1 {
    margin-top: 30px;
    width: 320px;
  }
}

@media only screen and (max-width: 1200px) {
  .projectImage2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 320px;
  }
}

@media only screen and (max-width: 1200px) {
  .projectImage3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 320px;
  }
}

@media only screen and (max-width: 1200px) {
  .projectImage4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 320px;
  }
}

.projectTextDiv {
  padding: 5vw;
  text-align: left;
}

.Line {
  width: 80%;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .projectTextDiv {
    padding: 5vw;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .Line {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .LineMargin {
    margin-top: 50px;
  }
}

.projectDiv1 {
  background-image: linear-gradient(to top right, #004677 0%, #1ba1ff 100%) !important;
}

.projectDivDiv1 {
  background-image: linear-gradient(to top right, #1ba1ff 0%, #004677 100%) !important;
}

.projectDiv2 {
  background-image: linear-gradient(to top right, #ff3535 0%, #880000 100%) !important;
}

.projectDivDiv2 {
  background-image: linear-gradient(to top right, #880000 0%, #ff3535 100%) !important;
}

.projectDiv3 {
  background-image: linear-gradient(to top right, #4DED30 0%, #00AB08 100%) !important;
}

.projectDivDiv3 {
  background-image: linear-gradient(to top right, #00AB08 0%, #4DED30 100%) !important;
}

.projectDiv4 {
  background-image: linear-gradient(to top right, #5f0a87 0%, #9c00e4 100%) !important;
}

.projectDivDiv4 {
  background-image: linear-gradient(to top right, #9c00e4 0%, #5f0a87 100%) !important;
}

.projectDiv5 {
  background-image: linear-gradient(to top right, #FF6200 0%, #993b00 100%) !important;
}

.projectDivDiv5 {
  background-image: linear-gradient(to top right, #993b00 0%, #FF6200 100%) !important;
}

.projectDiv6 {
  background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) !important;
}

.projectDivDiv6 {
  background-image: linear-gradient(45deg, #bc1888 0%,#cc2366 25%,#dc2743 50%,#e6683c 75%,#f09433 100%) !important;
}

